@import "settings";
@import "vendor/foundation/foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

input[type="text"] {
  box-shadow: none;
  height: 3.0625rem;
  border: solid 1px #fefefe;
  font-size: 1rem;
}

select {
  border: none;
  font-size: 1rem;
}

button {
  background: #ff4500;
}

body {
  background: #1c1c1f;
}

#main {
  margin-top: 3rem;
}

.search-form .results-sorting-select {
  height: 3.0625rem;
}

.media-item .media-title {
  color: #ffffff;
}

.media-item .media-expand {
  background: #151515;
}

.media-item .fa {
  color: #ffffff;
}

.media-item .media-title {
  background: $secondary-color;
  padding: 0.58rem 0.7rem;
  margin: 0;
}

.media-item .slide-toggle {
  padding: 0.25rem 0.5rem;
}
