$white: #ffffff;
$ghost-grey: #fafafa;
$charcoal: #1c1c1f;
$reddit-blue: #b8d6f5;
$navy-blue: #15304a;
$border-grey: rgba(0,0,0,0.2);
$satsuki-blue: #336699;
$cgp-grey: #303030;

$font-family-sans-serif: Verdana, "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

$footer-height: 4rem;
$footer-margin: 1.5rem;
$component-font-size: 1rem;
