@import "utils";

a {
  color: #336699;
  text-decoration: none;
}

input, select, button {
  outline: none;
  border: none;
}

input[type="text"] {
  box-shadow: none;
  height: 3.0625rem;
  border: solid 1px #fefefe;
  padding: 0 0.5rem;
  font-size: $component-font-size;
}

select {
  @include form-select;
  border: none;
  font-size: $component-font-size;
  cursor: pointer;
}

.button, button {
  background: $satsuki-blue;
  padding: 1.025rem 0.2rem;
  color: $white;
  cursor: pointer;
  text-align: center;
  border-radius: $ui-radius;
}

.loader {
  width: 15em;
  height: 15em;
  font-size: 15px;
  border-color: transparentize($ghost-grey, 0.8);
  border-left: 1.1em solid $ghost-grey;
  &:after {
    width: 15em;
    height: 15em;
  }
}

.fullscreen-button {
  $icon-size: 2.4rem;
  $circle-size: $icon-size / 0.6;
  $circle-padding: $circle-size * 0.2;
  .fa {
    font-size: $icon-size;
  }
  position: fixed;
  bottom: 0;
  right: 0;
  width: $circle-size;
  height: $circle-size;
  padding: $circle-padding;
  text-align: center;
  color: $faint-grey;
  border: solid 2px $faint-grey;
  border-radius: 100%;
  margin: 15px;
  z-index: 10;
  cursor: pointer;
  &:hover {
    background-color: #1b1b1b;
    color: $bright-text;
    border: solid 2px $bright-text;
  }
}

.media-item.fullscreen {
  max-width: 100%;
  width: 100%;
  margin: 0;
  background-color: $charcoal;
  @include flex-video;
}
