@import "vendor/settings";
@import "vendor/normalize";
@import "vendor/fixedsticky";
@import "vendor/bourbon/bourbon";
@import "vendor/neat/neat";
@import "vendor/loader";
@import "globals";
@import "transitions";
@import "ui";
@import "components/queue";

// For the sticky footer
html, body{
  height: 100%
}

body {
  background: $charcoal;
  font-family: $font-family-sans-serif;
}

.container {
  min-height: 100%;
  position: relative;
  padding-bottom: $footer-height + $footer-margin;
}

.logo-container {
  width: 100%;
  text-align: center;
  margin: 3rem 0;
}

footer {
  height: $footer-height;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  margin-top: $footer-margin;
  text-align: center;
  background: $satsuki-blue;
  color: $reddit-blue;
  z-index: 20;
}

/* Browser Specific Styles */
@-moz-document url-prefix() {
  select {
    -moz-appearance: none;
  }
}
