@import "settings";
@import "vendor/foundation/foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

$white: #ffffff;
$charcoal: #1c1c1f;
$reddit-blue: #cee3f8;

$footer-height: 4rem;
$footer-margin: 1.5rem;
$component-font-size: 1rem;

// For the sticky footer
html, body{
  height: 100%
}

.container {
  min-height: 100%;
  position: relative;
}

#main {
  padding-bottom: $footer-height + $footer-margin;
}

body {
  background: $charcoal;
}

input[type="text"] {
  box-shadow: none;
  height: 3.0625rem;
  border: solid 1px #fefefe;
  font-size: $component-font-size;
}

select {
  border: none;
  font-size: $component-font-size;
}

button {
  background: $primary-color;
}

.source-bar {
  margin-bottom: 1rem;
  padding: 1rem 0;
  background: $reddit-blue;
}

.search-form {
  .search-bar, .results-sorting-select {
    height: 3.3625rem;
  }
  input, select, button {
    margin-bottom: 0;
  }
}

.media-item {
  border-bottom: solid $charcoal 1px;
  .media-title {
    color: $white;
  }

  .media-expand {
    background: #151515;
  }

  .fa {
    color: $white;
  }

  .media-title {
    height: 3.3625rem;
    background: $secondary-color;
    padding: 0.68rem 0.7rem;
    margin: 0;
    font-weight: 300;
    clear: right;
    .permalink {
      color: $white;
      font-size: 1.25rem;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .slide-toggle {
    padding: 0.25rem 0.5rem;
  }
}

footer {
  height: $footer-height;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  margin-top: $footer-margin;
  text-align: center;
  background: $primary-color;
  color: $reddit-blue;
}
